h1{	
  text-align: center;
}
.item{	
    width:40%;
    height:300px;
    border: 10px solid pink;
    margin: 10px;
    background-size: cover;
    background-position: center;
    opacity: 0.60;


}
.item:hover{
    border: 5px solid black;
    box-shadow: 5px 5px 5px red;
    box-shadow: 5px -6px 8px red;
    border-radius: 10px;
    opacity: 1;
    transition: 3s;
    transform:  rotate3d(0,0,1,3600000deg);

}
.mein{
     border: 2px solid blue;
     width: 70%;
     margin-right: 15%;
     margin-left: 15%;
     display:flex;
    flex-wrap: wrap;
    justify-content: center;

 
}
.img1{ 
    background-image: url(img/5.jpg);
}
.img2{
    background-image: url(img/333.jpg);
}
.img3{
    background-image: url(img/un.jpg);
}
.img4{
    background-image: url(img/1-887.jpg);
}
.img5{
    background-image: url(img/0.jpg);
}
.img6{
    background-image: url(img/999.jpg);
}
.img7{
    background-image: url(img/007.jpg);
}
.img8{
    background-image: url(img/008.jpg);
}
body{
 background-image: url(img/555.jpg);
 background-size: cover;
 background-attachment: fixed;
         
}
   
