div{
	width: 100px;
	height: 100px;
	background-color: orange;
	margin: 5px;
}
div:hover{	
    border-radius: 100%
}
.p1:hover{
	background-color: blue;
}
.p2:hover{
	background-color: green;
}
.p3:hover{
	background-color: yellow;
}